@model IEnumerable<ProfileModels>

@{
    ViewBag.Title = "Your Profile";
}

<h2>Your Profile</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
        <tr>
            <h3>
                @Html.DisplayNameFor(model => model.firstName)
            </h3>
        </tr>
        <tr>
            <h3>
                @Html.DisplayNameFor(model => model.lastName)
            </h3>
        </tr>
        <tr>
            <h3>
                @Html.DisplayNameFor(model => model.email)
            </h3>
        </tr>
        <tr>
            <h3>
                @Html.DisplayNameFor(model => model.busUnit)
            </h3>
        </tr>
        <tr>
            <h3>
                @Html.DisplayNameFor(model => model.hireDate)
            </h3>
        </tr>
        <tr>
            <h3>
                @Html.DisplayNameFor(model => model.title)
            </h3>
        </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
