@model IEnumerable<ProfileModels>

@{
    ViewBag.Title = "Your Profile";
}

<h2>Employee Profile List</h2>
<br />
@*<form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
</form>*@
@using (Html.BeginForm("Index", "profileModels", FormMethod.Get))
            {
                <p>
                    Find by Name: @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }

<br />
<br />
<table class="table table-bordered">
        <th>
            <h3>
                @Html.DisplayNameFor(model => model.firstName)
            </h3>
        </th>
        <th>
            <h3>
                @Html.DisplayNameFor(model => model.lastName)
            </h3>
        </th>
        <th>
            <h3>
                @Html.DisplayNameFor(model => model.email)
            </h3>
        </th>
        <th>
            <h3>
                @Html.DisplayNameFor(model => model.busUnit)
            </h3>
        </th>
        <th>
            <h3>
                @Html.DisplayNameFor(model => model.hireDate)
            </h3>
        </th>
        <th>
            <h3>
                @Html.DisplayNameFor(model => model.title)
            </h3>
        </th>
        <thead>

        </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
