@model IEnumerable<ProfileModels>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Profile List</h2>
<br />
<form class="form-inline" action="/action_page.php">
    
        </form>
    @using (Html.BeginForm("Index", "profileModels", FormMethod.Get))
    {
        <p>
            Find by Name: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </p>
    }

    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.busUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.busUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
